<h1>ユーザー編集</h1>
<p>ユーザー情報を編集してください</p>
<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
<%= form_for(@user, url:{controller: 'user', action: 'update', id: @user.id}) do |form| %>
  <table class="table">
    <tr><th>name</th>
      <td><%= form.text_field :name %></td></tr>
    <tr><th>email</th>
      <td><%= form.text_field :email %></td></tr>
    <tr><th>comment</th>
      <td><%= form.text_field :comment %></td></tr>
    <tr><th>password</th>
      <td><%= form.password_field :password %></td></tr>
    <tr><th></th>
      <td><%= form.submit("送信", class: "btn btn-primary btn-lg btn-block") %></td></tr>
    <tr><th></th>
      <td><%= link_to("一覧に戻る", "/user/index") %></td></tr>
  </table>
<% end %>
